@tailwind base;
@tailwind components;
@tailwind utilities;



.wrapper{
  width:min(100% - 3rem,65ch);
  margin-inline: auto;
}

.test2-section{
  padding: 3rem;
}

.test2-section:nth-child(even){
  background-color: #fff;
  color: black;
}.test2-section:nth-child(odd){
  background-color: #000; 
  color: #efefef;
}